---
import AtraccioneZona from '../components/AtraccioneZona.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <h1 class="font-bold text-4xl text-center">Atracciones por Zonas</h1>
    <section>
        <h2 class="font-bold text-2xl py-5 text-[#ff7e5f]">Zona Familiar</h2>
        <AtraccioneZona AtractionName="Montaña Rusa" AtractionDescription="Una casa llena de misterios y fantasmas." AtractionImage="images.jpg"/>
        <AtraccioneZona AtractionName="Rueda Gigante" AtractionDescription="Una casa llena de misterios y fantasmas." AtractionImage="images.jpg"/>
        <AtraccioneZona AtractionName="Casa Encantada" AtractionDescription="Una casa llena de misterios y fantasmas." AtractionImage="images.jpg"/>
    </section>
    <section>
        <h2 class="font-bold text-2xl py-5 text-[#ff7e5f]">Zona Infantil</h2>
        <AtraccioneZona AtractionName="Casa Encantada" AtractionDescription="Una casa llena de misterios y fantasmas." AtractionImage="images.jpg"/>
        <AtraccioneZona AtractionName="Casa Encantada" AtractionDescription="Una casa llena de misterios y fantasmas." AtractionImage="images.jpg"/>
        <AtraccioneZona AtractionName="Casa Encantada" AtractionDescription="Una casa llena de misterios y fantasmas." AtractionImage="images.jpg"/>
    </section>
</Layout>