---
import AtraccioneZona from '../components/AtraccioneZona.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <h1 class="font-bold text-4xl text-center">Atracciones por Zonas</h1>
    <AtraccioneZona AtractionName="Casa Encantada" AtractionDescription="Una casa llena de misterios y fantasmas." AtractionImage="images.jpg"/>
</Layout>