---
import AtraccioneZona from '../components/AtraccioneZona.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <h1 class="font-bold text-4xl text-center py-5">Atracciones por Zonas</h1>
    <section>
        <h2 class="font-bold text-2xl py-5 px-4 text-[#ff7e5f]">Zona Familiar</h2>
        <AtraccioneZona AtractionName="Montaña Rusa" AtractionDescription="Una atracción emocionante para todos, con giros y vueltas llenos de adrenalina." AtractionImage="/public/red_foce.jpg"/>
        <AtraccioneZona AtractionName="Rueda Gigante" AtractionDescription="Disfruta de vistas espectaculares desde lo alto de la rueda gigante del parque." AtractionImage="/public/rueda-gigante-foz-iguazu-yup-star-4.webp"/>
        <AtraccioneZona AtractionName="Casa Encantada" AtractionDescription="Una experiencia de miedo y diversión en una casa llena de sorpresas y sustos." AtractionImage="/public/images.jpg"/>
    </section>
    <section>
        <h2 class="font-bold text-2xl py-5 px-4 text-[#ff7e5f]">Zona Infantil</h2>
        <AtraccioneZona AtractionName="Tiovivo" AtractionDescription="Un clásico para los más pequeños, con hermosos caballos y música divertida." AtractionImage="36424110202_71dd1b07ef_b.jpg"/>
        <AtraccioneZona AtractionName="Mini Montaña Rusa" AtractionDescription="Para los aventureros más jóvenes, una montaña rusa con emoción adaptada a ellos." AtractionImage="mini-montaña-rusa-tren-infantil.jpg"/>
        <AtraccioneZona AtractionName="Zona Acuática" AtractionDescription="Diviértete en el agua con juegos, toboganes y refrescos para los días de calor." AtractionImage="portada-parques-acuaticos.jpg"/>
    </section>
</Layout>