<div class="flex flex-col items-center justify-center h-screen bg-[url('public/parque.jpg')] bg-cover bg-center bg-no-repeat">
    <h1 class="text-4xl font-bold text-center text-white">
        Explora la magia de parque Lucra
    </h1>

    <div>
        <p class="text-white">
            un lugar donde la diversion no tiene limite ven y disfruta
        </p>
    </div>
    <button class="bg-[#ff7e5f] hover:bg-orange-300 transition text-white text-xl font-bold py-4 px-8 rounded-md mt-4">
        Compra tus entradas
    </button>
</div>