    <section class="container mx-auto mt-10 px-6">
        <h2 class="text-3xl font-bold text-gray-800 text-center">Horarios</h2>
        <p class="text-gray-600 text-center mt-2">Consulta nuestros horarios de apertura y cierre. Planifica tu visita</p>
        <div class="overflow-x-auto mt-6">
            <table class="min-w-full bg-white border border-gray-300">
                <thead>
                    <tr class="bg-orange-300 text-white">
                        <th class="py-2 px-4 text-left">DÍA</th>
                        <th class="py-2 px-4 text-left">APERTURA</th>
                        <th class="py-2 px-4 text-left">CIERRE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-2 px-4 border-t">Lunes</td>
                        <td class="py-2 px-4 border-t">10:00 AM</td>
                        <td class="py-2 px-4 border-t">6:00 PM</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 border-t">Martes</td>
                        <td class="py-2 px-4 border-t">10:00 AM</td>
                        <td class="py-2 px-4 border-t">6:00 PM</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 border-t">Miércoles</td>
                        <td class="py-2 px-4 border-t">10:00 AM</td>
                        <td class="py-2 px-4 border-t">6:00 PM</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 border-t">Jueves</td>
                        <td class="py-2 px-4 border-t">10:00 AM</td>
                        <td class="py-2 px-4 border-t">6:00 PM</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 border-t">Viernes</td>
                        <td class="py-2 px-4 border-t">10:00 AM</td>
                        <td class="py-2 px-4 border-t">6:00 PM</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 border-t">Sábado</td>
                        <td class="py-2 px-4 border-t">10:00 AM</td>
                        <td class="py-2 px-4 border-t">6:00 PM</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 border-t">Domingo</td>
                        <td class="py-2 px-4 border-t">10:00 AM</td>
                        <td class="py-2 px-4 border-t">6:00 PM</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- Entradas -->
    <section class="container mx-auto mt-12 px-6 mb-12 shadow-xl rounded-xl bg-gray-200 p-6 hover:shadow-2xl transition duration-300">
        <h2 class="text-3xl font-bold text-gray-800 text-center">Entradas</h2>
        <p class="text-gray-600 text-center mt-2">Compra tus entradas online y evita las colas.</p>
        <div class="mt-6 flex flex-col space-y-4">
            <!-- Tarjeta 1 -->
            <div class="flex justify-between items-center bg-white shadow-md p-4 rounded-lg">
                <span class="text-gray-700 text-lg">Entrada General</span>
                <button class="bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-orange-600">Comprar</button>
            </div>
            <!-- Tarjeta 2 -->
            <div class="flex justify-between items-center bg-white shadow-md p-4 rounded-lg">
                <span class="text-gray-700 text-lg">Entrada Niños</span>
                <button class="bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-orange-600">Comprar</button>
            </div>
            <!-- Tarjeta 3 -->
            <div class="flex justify-between items-center bg-white shadow-md p-4 rounded-lg">
                <span class="text-gray-700 text-lg">Entrada Familiar</span>
                <button class="bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-orange-600">Comprar</button>
            </div>
        </div>
    </section>
